# .NET
**/bin/
**/obj/
*.user
*.suo
.vs/

# Node
**/node_modules/
**/dist/
**/dist-ssr/
**/*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Sensitive
**/appsettings.Development.json
